USE [master]
GO
/****** Object:  Database [InventoryDB]    Script Date: 1/23/2025 2:49:29 PM ******/
CREATE DATABASE [InventoryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\InventoryDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'InventoryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\InventoryDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryDB]
GO
/****** Object:  Table [dbo].[CustomerInfo]    Script Date: 1/23/2025 2:49:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerInfo](
	[id] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Number] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Order] [varchar](50) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_CustomerInfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ManageProduct]    Script Date: 1/23/2025 2:49:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ManageProduct](
	[Product_Id] [varchar](50) NOT NULL,
	[Product_Name] [varchar](50) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Quatity] [int] NOT NULL,
	[Spplier] [varchar](50) NOT NULL,
	[Adding_Date] [date] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_ManageProduct] PRIMARY KEY CLUSTERED 
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ManageSupplier]    Script Date: 1/23/2025 2:49:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ManageSupplier](
	[SId] [varchar](50) NOT NULL,
	[SName] [varchar](50) NOT NULL,
	[Number] [varchar](50) NOT NULL,
	[SCategory] [varchar](50) NOT NULL,
	[SQuantity] [int] NOT NULL,
	[SAddress] [varchar](50) NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[Date] [varchar](50) NOT NULL,
	[Amount] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ManageUsers]    Script Date: 1/23/2025 2:49:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ManageUsers](
	[User_Id] [varchar](50) NOT NULL,
	[User_Name] [varchar](50) NOT NULL,
	[User_Password] [varchar](50) NOT NULL,
	[User_Number] [varchar](50) NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[Joining_Date] [varchar](50) NOT NULL,
	[Salary] [float] NULL,
 CONSTRAINT [PK_ManageUsers] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CustomerInfo] ([id], [Name], [Number], [Email], [Order], [Category], [Quantity], [Address], [Price]) VALUES (N'c-01', N'Ahmed', N'0179838373', N'ahmed1@gmail.com', N'Phone', N'Electronics', 1, N'Dhaka,Bangladesh', 120000)
INSERT [dbo].[ManageProduct] ([Product_Id], [Product_Name], [Category], [Quatity], [Spplier], [Adding_Date], [Price]) VALUES (N'p-01', N'Laptop', N'Electronics', 12, N'xyz', CAST(N'2025-10-10' AS Date), 180000)
INSERT [dbo].[ManageProduct] ([Product_Id], [Product_Name], [Category], [Quatity], [Spplier], [Adding_Date], [Price]) VALUES (N'p-02', N'Gitar', N'Instruments', 13, N'Leo Shop', CAST(N'2025-01-23' AS Date), 124244)
INSERT [dbo].[ManageProduct] ([Product_Id], [Product_Name], [Category], [Quatity], [Spplier], [Adding_Date], [Price]) VALUES (N'p-03', N'T-Shirt', N'Clothings', 50, N'xyzCloths', CAST(N'2025-01-15' AS Date), 123243)
INSERT [dbo].[ManageSupplier] ([SId], [SName], [Number], [SCategory], [SQuantity], [SAddress], [Gender], [Date], [Amount]) VALUES (N's-01', N'Naz', N'2344', N'Clothing', 332, N'sfg', N'Male', N'NUL2020-02-02L', 134)
INSERT [dbo].[ManageSupplier] ([SId], [SName], [Number], [SCategory], [SQuantity], [SAddress], [Gender], [Date], [Amount]) VALUES (N's-02', N'Xyz', N'76', N'Clothings', 44, N'df', N'Male', N'2025-01-22', 443)
INSERT [dbo].[ManageUsers] ([User_Id], [User_Name], [User_Password], [User_Number], [Gender], [Joining_Date], [Salary]) VALUES (N'u-01', N'Admin', N'123', N'01581793922', N'Male', N'2025-01-23', 123343)
INSERT [dbo].[ManageUsers] ([User_Id], [User_Name], [User_Password], [User_Number], [Gender], [Joining_Date], [Salary]) VALUES (N'u-02', N'User', N'1234', N'01783842843', N'Female ', N'2025-01-23', 12312)
INSERT [dbo].[ManageUsers] ([User_Id], [User_Name], [User_Password], [User_Number], [Gender], [Joining_Date], [Salary]) VALUES (N'u-03', N'Antu', N'12345', N'32352352', N'Male', N'2025-01-23', 234231)
USE [master]
GO
